:root {
  --accent-color: #2196f3;
  --second-accent-color: rgba(33, 150, 243, 0.9);
  --tertiary-color-text: #ffffff;
  --primary-color-text: #212121;
  --secondary-color-text: #757575;
  --gris-op60: #ffffff60;
  --black100: #000000;
  --background-color-op80: rgba(47, 48, 58, 0.8);
  --background-hero: #2f303a;
  --background-color-hero: rgba(47, 48, 58, 0.4);
  --inactive-color-button: #afb1b8;
  --background-color-button: rgba(255, 255, 255, 0.1);
  --background-btn-portfolio: #f5f4fa;
  --border-color: #eeeeee;
  --close-border-op10: #00000010;
  --header-border: rgb(236, 236, 236);
  --input-border: rgba(255, 255, 255, 0.3);
  --modal-color-op20: #00000020;
  --footer-email-color: rgba(255, 255, 255, 0.6);
  --input-modal-border: rgba(33, 33, 33, 0.2);
  --placeholder-modal: rgba(117, 117, 117, 0.5);
  --font-family-logo: 'Raleway', sans-serif;
  --font-size-logo: 26px;
  --line-height-logo: 1.19;
  --primary-font-family: 'Roboto', sans-serif;
}

body {
  font-family: var(--primary-font-family);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.portfolio__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: var(--font-family-logo);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-logo);
  line-height: var(--line-height-logo);
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__web {
  color: var(--accent-color);
}

.logo__studio {
  color: var(--black100);
}

.logo__studio--white {
  color: var(--tertiary-color-text);
}

.header {
  border-bottom: 1px solid var(--header-border);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 90px;
}

.header-list__item:not(:first-child) {
  margin-left: 50px;
}

.header-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-color-text);
  padding: 32px 0px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list__icon:hover, .header-list__icon:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-color-text);
  padding-top: 33px;
  padding-bottom: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__item:nth-child(2) {
  margin-left: 50px;
}

.contact-list__message {
  fill: var(--secondary-color-text);
  margin-right: 10px;
}

.contact-list__link:hover .contact-list__message,
.contact-list__link:focus .contact-list__message {
  fill: var(--accent-color);
  cursor: pointer;
}

.contact-list__phone {
  fill: var(--secondary-color-text);
  margin-right: 10px;
}

.contact-list__link:hover .contact-list__phone,
.contact-list__link:focus .contact-list__phone {
  fill: var(--accent-color);
  cursor: pointer;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.button-list__item:not(:first-child) {
  margin-left: 8px;
}

.button-list__button {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  background-color: var(--background-btn-portfolio);
  color: var(--primary-color-text);
  padding: 6px 22px;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__button:hover, .button-list__button:focus {
  background-color: var(--accent-color);
  color: var(--tertiary-color-text);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
/*# sourceMappingURL=portfolio.css.map */