:root {
  --accent-color: #2196f3;
  --second-accent-color: rgba(33, 150, 243, 0.9);
  --tertiary-color-text: #ffffff;
  --primary-color-text: #212121;
  --secondary-color-text: #757575;
  --gris-op60: #ffffff60;
  --black100: #000000;
  --background-hero: #2f303a;
  --background-btn-portfolio: #f5f4fa;
  --background-color-hero: rgba(47, 48, 58, 0.4);
  --inactive-color-button: #afb1b8;
  --background-color-button: rgba(255, 255, 255, 0.1);
  --border-color: #eeeeee;
  --background-color-op80: rgba(47, 48, 58, 0.8);
  --modal-color-op20: #00000020;
  --close-border-op10: #00000010;
  --footer-email-color: rgba(255, 255, 255, 0.6);
  --input-modal-border: rgba(33, 33, 33, 0.2);
  --placeholder-modal: rgba(117, 117, 117, 0.5);
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*---------- HEADER---------- */

.header {
  border-bottom: 1px solid rgb(236, 236, 236);
}

.nav-list,
.header-list,
.contact-list,
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-list li:not(:first-child) {
  margin-left: 50px;
}

.header-list {
  margin-left: 90px;
}

.header-list__item {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-color-text);
  padding: 32px 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  bottom: -1px;

  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-color-text);
  padding-top: 33px;
  padding-bottom: 31px;
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__item:nth-child(2) {
  margin-left: 50px;
}

.contact-list__message {
  fill: #757575;
  margin-right: 10px;
}

.contact-list__phone {
  fill: #757575;
  margin-right: 10px;
}

.contact-list__link:hover,
.contact-list__link:focus,
.header-list__item:hover,
.header-list__item:focus {
  color: var(--accent-color);
}

.contact-list__link:hover .contact-list__message,
.contact-list__link:focus .contact-list__message,
.contact-list__link:hover .contact-list__phone,
.contact-list__link:focus .contact-list__phone {
  fill: var(--accent-color);
  cursor: pointer;
}

/*---------- HERO---------- */

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 280px;
}

.hero-img {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      var(--background-color-hero),
      var(--background-color-hero)
    ),
    url(../images/backgroung.jpg);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--tertiary-color-text);
}

.hero__btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--tertiary-color-text);

  margin-top: 30px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero__btn:hover {
  cursor: pointer;
}

/* ---------- ADVANTAGES----------  */
.advantages {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.description-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.description-list__item:nth-child(4) {
  margin-right: 30px;
}

.description-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--background-btn-portfolio);
}

.description-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-color-text);
  margin-top: 0px;
  margin-bottom: 10px;
}

.description-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color-text);
  margin-top: 0px;
  margin-bottom: 0px;
}

/* ---------- OUR WORK ---------- */
.our-work {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 94px;
}

.our-work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color-text);
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}

.work-list {
  margin: 0px;
  padding: 0px;
}

.our-work.container,
.work-list {
  display: flex;
  justify-content: center;
}

.work-list__item {
  position: relative;
}

.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.work-list__title {
  position: absolute;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  bottom: 0px;
  text-align: center;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  color: var(--tertiary-color-text);
  background-color: var(--background-color-op80);
}

/*---------- OUR TEAM----------  */

.our-team {
  margin-bottom: 0px;
  padding-bottom: 94px;
  background-color: var(--background-btn-portfolio);
}

.our-team__title {
  text-align: center;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 50px;
  padding-top: 94px;
}

.team-list {
  display: flex;
  text-align: center;
}

.team-list__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.team-list__item:not(:first-child) {
  margin-left: 30px;
}

.team-list__caption {
  background-color: var(--tertiary-color-text);
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-color-text);
  padding-top: 30px;
  padding-bottom: 0px;
  margin: 0px;
}

.team-list__work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-color-text);
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0px;
}

.social-list {
  display: flex;
  padding: 16px 32px 30px 32px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--tertiary-color-text);
}

.social-list__item {
  box-shadow: none;
}

.social-list__link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--inactive-color-button);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social-list__link:focus {
  fill: var(--tertiary-color-text);
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--accent-color);
}

/*---------- OUR CLIENTS----------  */

.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  color: var(--primary-color-text);
}

.client-list {
  display: flex;
  justify-content: space-between;
}

.client-list__item {
  width: 170px;
  height: 90px;
  border: 1px solid var(--inactive-color-button);
  border-radius: 5px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__item:hover,
.client-list__item:focus {
  border: 1px solid var(--accent-color);
}

.client-list__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  fill: var(--inactive-color-button);
}

.client-list__icon {
  fill: var(--inactive-color-button);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link:hover .client-list__icon,
.client-list__link:focus .client-list__icon {
  fill: var(--accent-color);
}

/* ----------FOOTER---------- */

.footer {
  background-color: var(--background-hero);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 0px;
}

.footer-box__address {
  display: inline-block;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.footer-box__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--tertiary-color-text);
}

.footer-box__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--gris-op60);

  display: inline-block;
  margin-top: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-box__link:hover,
.footer-box__link:focus {
  color: var(--accent-color);
}

.invitation {
  margin-left: 70px;
  margin-right: 93px;
}

.invitation__title,
.footer-action__title {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--tertiary-color-text);
  margin-bottom: 20px;
}

.footer-box,
.footer-list {
  display: flex;
  align-items: baseline;
}

.footer-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-list__icon {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--background-color-button);
  fill: var(--tertiary-color-text);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__icon:hover,
.footer-list__icon:focus {
  cursor: pointer;
  background-color: var(--accent-color);
}

.footer-action__form {
  display: flex;
}

.footer-field {
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-field__input {
  padding: 15px;
  width: 358px;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--background-hero);
  color: var(--footer-email-color);
}

.footer-field__input::placeholder {
  color: var(--footer-email-color);
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 10px;
  margin-left: 12px;

  font-weight: 700;
  font-size: 16px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: var(--tertiary-color-text);
  background-color: var(--accent-color);
}

.footer-button:hover,
.footer-button:focus {
  cursor: pointer;
}

.footer-button__icon {
  fill: var(--tertiary-color-text);
  margin-left: 10px;
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0px;
  opacity: 1;

  width: 100%;
  height: 100%;
  background-color: var(--modal-color-op20);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 528px;
  width: 100%;
  height: 581px;
  max-height: 100vh;
  padding: 40px;
  overflow-y: auto;

  border-radius: 4px;
  background-color: var(--tertiary-color-text);
  z-index: 10;
}

.modal__close-button {
  position: absolute;

  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  border: 1px solid var(--close-border-op10);
  border-radius: 50%;
  background-color: var(--tertiary-color-text);
}

.modal__close-button:hover {
  cursor: pointer;
}

.modal__close-icon {
  fill: var(--black100);
}
.modal__close-button:hover > .modal__close-icon,
.modal__close-button:focus > .modal__close-icon {
  fill: var(--accent-color);
}

.modal-window__title {
  text-align: center;

  font-weight: 700;
  font-size: 20px;
  color: var(--primary-color-text);
}

.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-top: 10px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--secondary-color-text);
}

.form__item {
  position: relative;
  margin-top: 4px;
}

.form__input {
  width: 100%;
  padding: 11px 33px;

  border: 1px solid var(--input-modal-border);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input :hover,
.form__input :focus {
  border-color: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input :hover + .form__icon,
.form__input :focus + .form__icon {
  fill: var(--accent-color);
}

.form__textarea {
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  height: 120px;
  width: 100%;
  resize: none;

  border: 1px solid var(--input-modal-border);
  border-radius: 4px;
  outline: none;
}

.form__textarea::placeholder {
  color: var(--placeholder-modal);
}

.confirmation {
  position: relative;
  display: inline-block;

  margin-bottom: 30px;
  margin-left: 23px;

  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color-text);
}

.confirmation__checkbox {
  -webkit-appearance: none;
  position: absolute;
}

.confirmation-icon {
  position: absolute;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  margin-left: -23px;
  margin-top: 4px;

  border: 2px solid var(--primary-color-text);
  border-radius: 2px;
  background-color: var(--tertiary-color-text);
  cursor: pointer;
}

.confirmation__checkbox:focus + .confirmation-icon,
.confirmation__checkbox:checked + .confirmation-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.confirmation__vector {
  position: absolute;
  top: 10%;
  left: 0;
}

.confirmation__text-link {
  text-decoration: underline;
  cursor: pointer;
  color: var(--accent-color);
}

.modal-button {
  display: inline-block;
  text-align: center;
}

.modal-button__submit {
  padding: 10px;
  text-align: center;
  width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--tertiary-color-text);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-button__submit:hover {
  cursor: pointer;
}

/* ----------PORTFOLIO PAGE----------*/

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list__item:not(:first-child) {
  margin-left: 8px;
}

.button-list__button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  background-color: var(--background-btn-portfolio);
  color: var(--primary-color-text);
  padding: 6px 22px;
  border-radius: 4px;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__button:hover,
.button-list__button:focus {
  background-color: var(--accent-color);
  color: var(--tertiary-color-text);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.card-set__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid var(--border-color);
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
}

.card-link:hover .example-thumb::before,
.card-link:hover .overlay {
  transform: translateY(0);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.content-card {
  padding: 20px 20px;
}

.title-project {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color-text);
  margin-bottom: 0px;
  margin-top: 0px;
}

.title-apps {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text);
  margin-bottom: 0px;
}

.example-thumb {
  position: relative;
  overflow: hidden;
}

.example-thumb::before {
  display: inline-block;
  content: '';

  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;

  background-color: var(--second-accent-color);
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  position: absolute;
  margin: 0px;
  padding: 63px 24px;
  top: 0px;
  left: 0px;

  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.6;
  color: var(--tertiary-color-text);
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
