.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-clients__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  color: var(--primary-color-text);
}

.client-list {
  @include centered-flex(stretch, space-between);
}

.client-list__item {
  width: 170px;
  height: 90px;
  border: 1px solid var(--inactive-color-button);
  border-radius: 5px;
  @include transition(border);

    &:hover,
    &:focus {
        border: 1px solid var(--accent-color);
    }
}

.client-list__link {
  @include centered-flex(center, center);
  width: 100%;
  height: 100%;
  fill: var(--inactive-color-button);
}

.client-list__icon {
  fill: var(--inactive-color-button);

  @include transition(fill);

    .client-list__link:hover &,
    .client-list__link:focus & {
        fill: var(--accent-color);
    }
}