.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo__web {
  color: var(--accent-color);
}

.logo__studio {
  color: var(--black100);
}

.logo__studio--white {
  color: var(--tertiary-color-text);
}
