.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-top: 10px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--secondary-color-text);
}

.form__item {
  position: relative;
  margin-top: 4px;
}

.form__item:focus {
  outline: none;
}

.form__input {
  width: 100%;
  padding: 11px 33px;

  border: 1px solid var(--input-modal-border);
  border-radius: 4px;
  outline: none;

  @include transition(border-color);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  

  @include transition(fill);

    .form__input:focus + & {
       fill: var(--accent-color);
    }
    .form__input:hover + & {
       fill: var(--accent-color);
    }
}

.form__textarea {
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  height: 120px;
  width: 100%;
  resize: none;

  border: 1px solid var(--input-modal-border);
  border-radius: 4px;
  outline: none;
}

.form__textarea::placeholder {
  color: var(--placeholder-modal);
}

.confirmation {
  position: relative;
  display: inline-block;

  margin-bottom: 30px;
  margin-left: 23px;

  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color-text);
}

.confirmation__checkbox {
  -webkit-appearance: none;
  position: absolute;
}

.confirmation-icon {
  position: absolute;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  margin-left: -23px;
  margin-top: 4px;

  border: 2px solid var(--primary-color-text);
  border-radius: 2px;
  background-color: var(--tertiary-color-text);
  cursor: pointer;
    &:focus,
    .confirmation__checkbox:checked & {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
    }
}

.confirmation__vector {
  position: absolute;
  top: 10%;
  left: 0;
  color: red;
}

.confirmation__text-link {
  text-decoration: underline;
  cursor: pointer;
  color: var(--accent-color);
}

.modal-button {
  display: inline-block;
  text-align: center;
}

.modal-button__submit {
  padding: 10px;
  text-align: center;
  width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--tertiary-color-text);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &:hover {
        cursor: pointer;
    }
}

