.header {
  border-bottom: 1px solid var(--header-border);
}

// .header__container {
//   @include centered-flex(center, space-between);
// }

.nav-list {
  @include centered-flex(center, space-between);
}

.header-list {
  @include centered-flex(center, space-between);
  margin-left: 90px;
}

.header-list__item:not(:first-child) {
  margin-left: 50px;
}

.header-list__icon {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-color-text);
  padding: 32px 0px;
  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  bottom: -1px;

  border-radius: 2px;
  background-color: var(--accent-color);
}

.contact-list {
  @include centered-flex(center, space-between);
}

.contact-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-color-text);
  padding-top: 33px;
  padding-bottom: 31px;
  display: flex;
  align-items: center;

  @include transition(color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-list__item:nth-child(2) {
  margin-left: 50px;
}

.contact-list__message {
  fill: var(--secondary-color-text);
  margin-right: 10px;
  .contact-list__link:hover &,
  .contact-list__link:focus & {
    fill: var(--accent-color);
    cursor: pointer;
  }
}

.contact-list__phone {
  fill: var(--secondary-color-text);
  margin-right: 10px;
  .contact-list__link:hover &,
  .contact-list__link:focus & {
    fill: var(--accent-color);
    cursor: pointer;
  }
}
