.logo {
  // font-family: var(--font-family-logo);
  // font-weight: var(--font-weight-bold);
  // font-size: var(--font-size-logo);
  // line-height: var(--line-height-logo);
  padding-top: 24px;
  padding-bottom: 25px;
}

// .logo__web {
//   color: var(--accent-color);
// }

// .logo__studio {
//   color: var(--black100);
// }

// .logo__studio--white {
//   color: var(--tertiary-color-text);
// }
