.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.card-set__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  // border: 1px solid var(--border-color);
}

// .card {
//   display: block;
//   width: 100%;
//   height: 100%;

//   &:hover,
//   &:focus {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//       1px 4px 6px rgba(0, 0, 0, 0.16);
//     cursor: pointer;
//   }
// }

// .card__thumb {
//   position: relative;
//   overflow: hidden;
// }

// .card__thumb::before {
//   display: inline-block;
//   content: '';

//   position: absolute;
//   top: 0px;
//   bottom: 0px;
//   width: 100%;
//   height: 100%;

//   background-color: var(--second-accent-color);
//   transform: translateY(100%);

//   @include transition(transform);

//   .card:hover & {
//     transform: translateY(0);
//   }
// }

// img
//  <!-- width="370"
//  <!-- height="294" --> -->

// .card__overlay {
//   position: absolute;
//   margin: 0px;
//   padding: 63px 24px;
//   top: 0px;
//   left: 0px;

//   font-size: 18px;
//   letter-spacing: 0.03em;
//   line-height: 1.6;
//   color: var(--tertiary-color-text);
//   transform: translateY(100%);

//   @include transition(transform);

//   .card:hover & {
//     transform: translateY(0);
//   }
// }

// .card__caption {
//   padding: 20px 20px;
// }

// .card__title {
//   font-size: 18px;
//   line-height: 2;
//   letter-spacing: 0.06em;
//   color: var(--primary-color-text);
//   margin-bottom: 0px;
//   margin-top: 0px;
// }

// .card__explication {
//   font-size: 16px;
//   line-height: 1.87;
//   letter-spacing: 0.03em;
//   color: var(--secondary-color-text);
//   margin-bottom: 0px;
// }
