.our-work {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 94px;
}

.our-work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color-text);
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}

.work-box__title {
  text-align: center;
}

.work-list {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.work-list__item {
  position: relative;
}

.work-list__item:not(:last-child) {
  margin-right: 30px;
}

.work-list__title {
  position: absolute;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  bottom: 0px;
  text-align: center;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  color: var(--tertiary-color-text);
  background-color: var(--background-color-op80);
}
