body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid rgb(236, 236, 236);
}

h1,
h2,
h3,
h4 {
  margin: 0px;
}
