.advantages__title {
  @extend %visually-hidden;
}

.advantages {
  padding-top: 60px;
  margin-bottom: 60px;

  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    margin-bottom: 94px;
  }
}

.description-list {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and(min-width: 1200px) {
    flex-wrap: nowrap;
    margin: 0px;
  }
}

.description-list__item:not(:last-child) {
  @media screen and(max-width: 767px) {
    margin-bottom: 30px;
  }
  @media screen and(min-width: 1200px) {
    margin-right: 30px;
  }
}
.description-list__item {
  @media screen and(min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - #{60px}) / 2);
  }
}

.description-list__icon {
  height: 120px;
  @include centered-flex(center, center);
  background-color: var(--background-btn-portfolio);

  @media screen and(max-width: 767px) {
    max-width: 450px;
  }
  @media screen and(min-width: 768px) {
  }

  @media screen and(min-width: 1200px) {
    width: 270px;
    height: 120px;
  }
}

.description-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-color-text);
  margin-top: 30px;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and(min-width:768px) {
    text-align: start;
  }
}

.description-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-color-text);
  margin-top: 0px;
  margin-bottom: 0px;
}
