.portfolio__title {
  @extend %visually-hidden;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 60px;
}

.button-list__item {
  margin-left: 8px;
  margin-bottom: 15px;
}

.button-list__button {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  border: none;
  background-color: var(--background-btn-portfolio);
  color: var(--primary-color-text);

  padding: 6px 22px;
  border-radius: 4px;
  justify-content: center;

  &:hover,
  &:focus {
    outline: none;
    background-color: var(--accent-color);
    color: var(--tertiary-color-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
