.our-clients__title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  color: var(--primary-color-text);

  margin-top: 60px;
  margin-bottom: 30px;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.client-list__item {
  height: 90px;
  border: 1px solid var(--inactive-color-button);
  border-radius: 5px;

  margin: 15px;
  min-width: calc(100% / 2 - #{30px});
}

.client-list__link {
  @include centered-flex(center, center);
  width: 100%;
  height: 100%;
  fill: var(--inactive-color-button);
}
