.our-clients__title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  color: var(--primary-color-text);

  padding-top: 60px;
  margin: 0px;
  margin-bottom: 30px;

  @media screen and(min-width: 1200px) {
    margin-bottom: 50px;
    padding-top: 94px;

    font-size: 36px;
  }
}

.client-list {
  @media screen and(max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and(min-width: 1200px) {
    @include centered-flex(stretch, space-between);
    flex-wrap: nowrap;
    margin: 0px;
  }
}

.client-list__item {
  height: 90px;
  border: 1px solid var(--inactive-color-button);
  border-radius: 5px;
  margin: 15px;
  flex-basis: calc(100% / 2 - #{30px});
  @include transition(border);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }

  @media screen and(min-width: 768px) {
    flex-basis: calc(100% / 3 - #{30px});
  }

  @media screen and(min-width: 1200px) {
    margin: 0px;
    width: 170px;
    height: 90px;
  }
}
@media screen and(min-width: 1200px) {
  .client-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.client-list__link {
  @include centered-flex(center, center);
  width: 100%;
  height: 100%;
  fill: var(--inactive-color-button);
}

.client-list__icon {
  fill: var(--inactive-color-button);

  @include transition(fill);

  .client-list__link:hover &,
  .client-list__link:focus & {
    fill: var(--accent-color);
  }
}
