.footer {
  background-color: var(--background-hero);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 60px;
}

.footer-box__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-align: center;

  margin-top: 20px;

  color: var(--tertiary-color-text);
}

.footer-box__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-align: center;

  color: var(--gris-op60);

  display: block;
  margin-top: 8px;
}

.invitation__title,
.footer-action__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  color: var(--tertiary-color-text);
  margin-bottom: 20px;
  margin-top: 60px;
}

.footer-list {
  @include centered-flex(stretch, center);
}

.footer-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-list__icon {
  @include centered-flex(center, center);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-color-button);
  fill: var(--tertiary-color-text);
}
