.footer-action__form {
  @media screen and(max-width: 1199px) {
    @include centered-flex(center, center);
    flex-direction: column;
  }

  @media screen and(min-width: 1200px) {
    @include centered-flex(stretch, flex-start);
    flex-direction: row;
  }
}

.footer-field {
  position: relative;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-field__input {
  padding: 15px;
  height: 50px;

  border-radius: 4px;
  border: 1px solid var(--input-border);
  background-color: var(--background-hero);
  color: var(--footer-email-color);

  @media screen and(max-width: 767px) {
    width: 100%;
  }

  @media screen and(min-width: 768px) {
    width: 450px;
  }

  @media screen and(min-width: 1200px) {
    width: 358px;
  }
}

.footer-field__input::placeholder {
  color: var(--footer-email-color);
}

.footer-button {
  @include centered-flex(center, center);
  width: 200px;
  padding: 10px;
  margin-top: 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: var(--tertiary-color-text);
  background-color: var(--accent-color);

  @media screen and(min-width: 1200px) {
    margin: 0px;
  }
}

.footer-button__icon {
  fill: var(--tertiary-color-text);
  margin-left: 10px;
}
