.footer {
  background-color: var(--background-hero);
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  @media screen and(min-width: 768px) {
    @include centered-flex(baseline, center);
    flex-wrap: wrap;
  }

  @media screen and(min-width: 1200px) {
    flex-wrap: nowrap;
    @include centered-flex(baseline, flex-start);
  }
}

.footer-box__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-align: center;

  margin-top: 20px;

  color: var(--tertiary-color-text);
}

.footer-box__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-align: center;

  color: var(--gris-op60);

  display: block;
  margin-top: 8px;

  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and(min-width: 1200px) {
    display: inline-block;
    margin-top: 9px;
  }
}

.invitation {
  @media screen and(min-width: 768px) {
    margin-left: 165px;
  }

  @media screen and(min-width: 1200px) {
    margin-left: 70px;
    margin-right: 93px;
  }
}

.invitation__title,
.footer-action__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  color: var(--tertiary-color-text);
  margin-bottom: 20px;

  @media screen and(max-width:767px) {
    margin-top: 60px;
  }

  @media screen and(min-width: 1200px) {
    text-align: start;
  }
}

.footer-action__title {
  @media screen and(min-width: 768px) {
    margin-top: 60px;
  }

  @media screen and(min-width: 1200px) {
    margin-top: 0px;
  }
}

.footer-list {
  @include centered-flex(stretch, center);
}

.footer-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-list__icon {
  @include centered-flex(center, center);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-color-button);
  fill: var(--tertiary-color-text);

  @include transition(background-color);

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: var(--accent-color);
  }
}
