.mobile-header {
  @include centered-flex(center, space-between);
  min-height: 60px;
}

.header-list {
  display: none;
}

.contact-list {
  display: none;
}

.mobile {
  display: inline-block;
  padding: 0px;
  border: none;
  background-color: transparent;
}

.mobile__icons {
  padding-bottom: 2px;
  padding-right: 5px;

  fill: var(--primary-color-text);

  &:hover {
    color: var(--accent-color);
  }
}

.mobile__icons .mobile__cross {
  display: none;
}
.mobile.is-open .mobile__cross {
  display: block;

  & .mobile__open {
    display: none;
  }
}
