.mobile-header {
  @include centered-flex(center, space-between);
  min-height: 60px;
}

.mobile-header::after {
  content: '';
  position: absolute;
  border: 1px solid var(--header-border);
  min-width: 100%;
  top: 60px;
}

.header-list {
  display: none;
}

.contact-list {
  display: none;
}

.mobile {
  display: inline-block;
  padding: 0px;
  border: none;
  background-color: transparent;
}

.mobile__icons {
  padding-bottom: 2px;
  padding-right: 5px;

  fill: var(--primary-color-text);

  &:hover {
    color: var(--accent-color);
  }
}

.mobile .mobile__cross {
  display: none;
}
.mobile.is-open .mobile__cross {
  display: block;
}

.mobile.is-open .mobile-open {
  display: none;
}
