.mobile {
  @media screen and(max-width: 767px) {
    @include centered-flex(center, center);
    width: 40px;
    height: 40px;
    padding: 0px;
    border: none;
    margin: 10px 0px;
    background-color: transparent;
  }

  @media screen and(min-width: 768px) {
    display: none;
  }
}

.mobile__open {
  fill: var(--primary-color-text);

  &:active,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and(min-width: 1200px) {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header__container {
  @include centered-flex(center, space-between);
}

.header {
  border-bottom: 1px solid var(--header-border);
}

.header .nav-list {
  @media screen and(min-width: 768px) {
    @include centered-flex(center, flex-end);
  }
}

.header-list {
  display: none;

  @media screen and(min-width: 768px) {
    @include centered-flex(center, center);
    margin-left: 88px;
  }
  @media screen and(min-width: 1200px) {
    margin-left: 93px;
  }
}

.header-list__item:not(:first-child) {
  margin-left: 50px;
}

.header-list__icon {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-color-text);
  padding: 32px 0px;
  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  @media screen and(min-width: 768px) {
    position: relative;
    color: var(--accent-color);

    &::after {
      position: absolute;
      content: '';
      height: 4px;
      width: 100%;
      bottom: -1px;

      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
}

.contact-list {
  display: none;

  @media screen and( min-width:768px) {
    @include centered-flex(baseline, flex-end);
    flex-direction: column;
  }

  @media screen and(min-width: 1200px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.contact-list__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  color: var(--secondary-color-text);

  padding: 0px;
  display: flex;
  align-items: center;

  @include transition(color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and(min-width: 1200px) {
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and(min-width: 1200px) {
  .contact-list__item:nth-child(2) {
    margin-left: 50px;
  }
}

@media screen and(max-width: 1199px) {
  .contact-list__link--mail {
    padding-top: 21px;
  }
}

@media screen and(max-width: 1199px) {
  .contact-list__link--tel {
    padding-bottom: 21px;
    margin-top: 10px;
  }
}

.contact-list__message,
.contact-list__phone {
  fill: var(--secondary-color-text);
  .contact-list__link:hover &,
  .contact-list__link:focus & {
    fill: var(--accent-color);
    cursor: pointer;
  }

  @media screen and(max-width: 1199px) {
    margin-right: 8px;
  }
  @media screen and(min-width: 1200px) {
    margin-right: 10px;
  }
}

.contact-list__message {
  width: 14px;
  height: 10px;
}

.contact-list__phone {
  width: 10px;
  height: 14px;
}
