.mobile-header {
  @media screen and(max-width: 767px) {
    @include centered-flex(center, space-between);
    min-height: 60px;
  }
}

.mobile {
  display: inline-block;
  padding: 0px;
  border: none;
  background-color: transparent;

  & .mobile__cross {
    display: none;
  }

  &.is-open .mobile__cross {
    display: block;
  }

  &.is-open .mobile-open {
    display: none;
  }
}

.header__container {
  @include centered-flex(center, space-between);
}

.header {
  border-bottom: 1px solid var(--header-border);
}

.header .nav-list {
  @media screen and(min-width: 768px) {
    @include centered-flex(center, flex-end);
  }
}

.header-list {
  display: none;

  @media screen and(min-width: 768px) {
    @include centered-flex(center, center);
    margin-left: 88px;
  }
}

.header-list__item:not(:first-child) {
  margin-left: 50px;
}

.header-list__icon {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-color-text);
  padding: 32px 0px;
  @include transition(color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current {
  @media screen and(min-width: 768px) {
    position: relative;
    color: var(--accent-color);

    &::after {
      position: absolute;
      content: '';
      height: 4px;
      width: 100%;
      bottom: -1px;

      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
}

.contact-list {
  display: none;

  @media screen and( min-width:768px) {
    @include centered-flex(baseline, flex-end);
    flex-direction: column;
  }
}

.contact-list__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  color: var(--secondary-color-text);

  padding: 0px;
  display: flex;
  align-items: center;

  @include transition(color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact-list__item:nth-child(2) {
  margin-top: 10px;
}

.contact-list__message,
.contact-list__phone {
  fill: var(--secondary-color-text);
  margin-right: 8px;
  .contact-list__link:hover &,
  .contact-list__link:focus & {
    fill: var(--accent-color);
    cursor: pointer;
  }
}

.contact-list__message {
  width: 14px;
  height: 10px;
}

.contact-list__phone {
  width: 10px;
  height: 14px;
}

.mobile__icons {
  padding-bottom: 2px;
  padding-right: 5px;

  fill: var(--primary-color-text);

  &:hover {
    color: var(--accent-color);
  }

  @media screen and(min-width: 768px) {
    display: none;
  }
}
