.hero {
  text-align: center;
}

.hero-img {
  width: 480px;
  height: 400px;
  background-image: linear-gradient(
      to right,
      var(--background-color-hero),
      var(--background-color-hero)
    ),
    url(../images/hero1x.jpg);
  background-size: cover;

  @media screen and(min-width: 480px) {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-img {
    background-image: url('photo@2x.png');
  }

  .hero__title {
    margin: 0px;
    padding-top: 118px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    color: var(--tertiary-color-text);
  }

  .hero__btn {
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    border: none;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--tertiary-color-text);

    margin-top: 30px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
