.hero {
    text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  color: black;
}

.hero__btn {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--tertiary-color-text);

  margin-top: 30px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
   
}

