.logo {
  font-family: var(--font-family-logo);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-logomob);
  line-height: var(--line-height-logomob);

}

.logo__web {
  color: var(--accent-color);
}

.logo__studio {
  color: var(--black100);
}

.logo__studio--white {
  color: var(--tertiary-color-text);
}