.logo {
  font-family: var(--font-family-logo);
  font-weight: var(--font-weight-bold);
  @media screen and(max-width: 1199px) {
    font-size: var(--font-size-logomob);
    line-height: var(--line-height-logomob);
  }
  @media screen and(min-width: 1200px) {
    font-size: var(--font-size-logo);
    line-height: var(--line-height-logo);
  }
}

.logo--padding {
  padding: 16px 0px;

  @media screen and(min-width: 768px) {
    padding: 26px 0px;
  }
  @media screen and(min-width: 1200px) {
    padding: 24px 0px 25px 0px;
  }
}

.logo__web {
  color: var(--accent-color);
}

.logo__studio {
  color: var(--black100);
}

.logo__studio--white {
  color: var(--tertiary-color-text);
}

.logo-footer {
  display: flex;
  justify-content: center;
}
