.mobile-modal {
  position: relative;
}

.mobile-menu {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;

  background-color: var(--tertiary-color-text);
  overflow-y: scroll;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: space-between;

  @media screen and(min-width768px) {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0%);
}

.mobile-menu__close {
  position: absolute;
  top: 10px;
  left: 89%;
  fill: var(--primary-color-text);

  border: none;
  background-color: transparent;
}

.mobile-menu__closeIcon {
  fill: var(--primary-color-text);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and(min-width: 1200px) {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mobile-list__item {
  font-weight: 500;
  font-size: 35px;
  line-height: 1.17;

  color: var(--primary-color-text);
}

.mobile-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.current {
  color: var(--accent-color);
}

.mobile-contacts__mobile {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;

  color: var(--accent-color);
}

.mobile-contacts__mail {
  margin-top: 32px;
  margin-bottom: 64px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;

  color: var(--secondary-color-text);
}

.mobile-social {
  display: flex;
}

.mobile-social__item {
  font-weight: 500;
  font-size: 18px;
  line-height: 2.75;
}

.mobile-social__link {
  color: var(--accent-color);
}

.mobile-social__item:not(:last-child)::after {
  content: '';
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);

  width: 22px;
  height: 1px;
  margin: 0px 10px;
}
