.our-team {
  background-color: var(--background-btn-portfolio);
}

.our-team__title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;

  margin: 0px;
  margin-bottom: 30px;
  padding-top: 60px;

  color: var(--primary-color-text);
}

.team-list {
  padding-bottom: 60px;

  @media screen and(min-width: 768px) {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
  }
}

.team-list__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  @media screen and(max-width: 767px) {
    margin-top: 30px;
    max-width: 450px;
    height: auto;
  }

  @media screen and(min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - #{60px}) / 2);
  }
}

.team-list__thumb {
  height: auto;
  @media screen and(max-width: 767px) {
    max-width: 450px;
  }

  @media screen and(min-width: 768px) {
    max-width: 354px;
    height: auto;
  }
}

.team-list__photo {
  width: 100%;
  height: 100%;
}

.team-list__caption {
  text-align: center;
  background-color: var(--tertiary-color-text);
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: var(--primary-color-text);
  padding-top: 30px;
  padding-bottom: 0px;
  margin: 0px;
}

.team-list__work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-color-text);
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0px;
}
