.our-team {
  background-color: var(--background-btn-portfolio);
}

.our-team__title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;

  margin-top: 60px;
  margin-bottom: 30px;
  padding-top: 60px;

  color: var(--primary-color-text);
}

.team-list {
  padding-bottom: 60px;
}

.team-list__item {
  margin-top: 30px;
  min-width: 450px;
  height: 622px;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.team-list__thumb {
  width: 450px;
  height: 460px;
}

.team-list__photo {
  min-width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.team-list__caption {
  text-align: center;
  background-color: var(--tertiary-color-text);
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: var(--primary-color-text);
  padding-top: 30px;
  padding-bottom: 0px;
  margin: 0px;
}

.team-list__work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-color-text);
  padding-top: 10px;
  padding-bottom: 0px;
  margin: 0px;
}
