.card-set__item {
  border: 1px solid var(--border-color);
}

.card {
  display: block;
  width: 100%;
  height: 100%;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.card__image-thumb {
  width: 450px;
  height: 294px;
}

.card__thumb .card__image {
  width: 100%;
}
