.card-set {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and(min-width: 1200px) {
    margin: -15px;
  }
}

.card-set__item {
  border: 1px solid var(--border-color);

  @media screen and(max-width: 767px) {
    .card-set__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and(min-width:768px) {
    margin: 15px;
    flex-basis: calc((100% - #{60px}) / 2);
  }

  @media screen and(min-width: 1200px) {
    flex-basis: calc((100% - #{90px}) / 3);
    margin: 0px;
    margin: 15px;
  }
}

.card {
  display: block;
  width: 100%;
  height: 100%;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}

.card__thumb {
  overflow: hidden;
  position: relative;
}

.card__image-thumb {
  @media screen and(min-width:768px) {
    max-width: 354px;
  }
  @media screen and(max-width: 767px) {
    max-width: 450px;
    height: 294px;
  }

  @media screen and(min-width: 1200px) {
    max-width: 100%;
  }
}

.card__thumb .card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__thumb::before {
  display: inline-block;
  content: '';

  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;

  background-color: var(--second-accent-color);
  transform: translateY(100%);

  @include transition(transform);

  .card:hover & {
    transform: translateY(0);
  }
}

.card__overlay {
  position: absolute;
  margin: 0px;
  padding: 63px 24px;
  top: 0px;
  left: 0px;

  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.6;
  color: var(--tertiary-color-text);
  transform: translateY(100%);

  @include transition(transform);

  .card:hover & {
    transform: translateY(0);
  }
}

.card__caption {
  padding: 20px 24px;
}

.card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;

  color: var(--primary-color-text);

  margin-bottom: 0px;
  margin-top: 0px;
}

.card__explication {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text);
  margin-bottom: 0px;
}
