.social-list {
  @include centered-flex(center, center);
  padding-bottom: 24px;
  padding-top: 16px;
  background-color: var(--tertiary-color-text);
}

.social-list__item {
  box-shadow: none;
}

.social-list__link {
  @include centered-flex(center, center);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--inactive-color-button);
  @include transition(fill);
  @include transition(background-color);

  &:hover,
  &:focus {
    fill: var(--tertiary-color-text);
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--accent-color);
  }
}
