.social-list {
  @include centered-flex(center, space-around);
  padding: 16px 122px 24px 122px;
  background-color: var(--tertiary-color-text);

  @media screen and(min-width: 768px) {
    padding: 16px 74px 24px 74px;
  }

  @media screen and(min-width: 1200px) {
    padding: 16px 32px 30px 32px;
  }
}

.social-list__item {
  box-shadow: none;
}

.social-list__link {
  @include centered-flex(center, center);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--inactive-color-button);
  @include transition(fill);
  @include transition(background-color);

  &:hover,
  &:focus {
    fill: var(--tertiary-color-text);
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--accent-color);
  }
}
