body {
  font-family: var(--primary-font-family);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0px 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and(min-width: 1200px) {
    width: 1200px;
  }
}
